<section>
  <h2 class="mb-5">Features</h2>
  <div class="row mb-5">
    <div class="col-lg-6 d-flex justify-content-center">
      <%= image_tag 'creating-project', alt: 'Members seeing and adding new members', class: 'gif' %>
    </div>
    <div class="col-lg-6 py-5">
      <p class="text-center">Create and edit projects</p>
      <p class="text-center">Create and edit chats</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-lg-6 d-flex justify-content-center">
      <%= image_tag 'add-user.gif', alt: 'Seeing and adding new members to chat gif', class: 'gif' %>
    </div>
    <div class="col-lg-6 py-5">
      <p class="text-center">See all members in chat</p>
      <p class="text-center">Add or remove users from chat</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-lg-6 d-flex justify-content-center">
      <%= image_tag 'private-message.gif', alt: 'Privately messaging user', class: 'gif' %>
    </div>
    <div class="col-lg-6 py-5">
      <p class="text-center">Privately message users</p>
      <p class="text-center">Look at users' profiles for contact information</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-lg-4 d-flex justify-content-center">
      <%= image_tag 'receiving.gif', alt: 'Receiving message', class: 'gif' %>
    </div>
    <div class="col-lg-3 py-5">
      <p class="text-center">Real time chat</p>
    </div>
    <div class="col-lg-4 d-flex justify-content-center">
      <%= image_tag 'sending.gif', alt: 'Sending message', class: 'gif' %>
    </div>
  </div>
</section>
