<div class="card col-md-3 my-3 p-10">
  <div class="row">
    <% if user.admin? %>
    <div class="m-1 ">
      <div class="btn pt-3 mt-2 d-flex" style="background-color: #f2f2f2;">
        <i class="fa-solid fa-star" style="color: #D2042D; font-size: 20px; width: 30px"></i>
        <a type="button" class="dropdown-item d-flex justify-content-start align-items-center" data-bs-toggle="modal" data-bs-target="#<%=user.id%>_remove_admin_Modal">
          Admin
        </a>
      </div>
    </div>  
    <% else %>
    <div class="m-1">
      <div class="btn pt-3 mt-2 d-flex" style="background-color: #f2f2f2;">
        <i class="fa-regular fa-star" style="color: #D2042D; font-size: 20px; width: 30px"></i>
        <a type="button" class="dropdown-item d-flex justify-content-start align-items-center" data-bs-toggle="modal" data-bs-target="#<%=user.id%>_make_admin_Modal">
          Not Admin
        </a>
      </div>
    </div>
    <% end %>
  </div>

  <img src="<%=user.profile_image%>"alt="avatar"
        class="pt-4 rounded-circle d-flex align-self-center me-3 shadow-1-strong" height= "100" width="100">
  <div class="card-body">
    <div class="pt-1 d-flex justify-content-center align-items-center">
      <h5 class="card-title"><%=user.name%></h5>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <p class="fw-bold mb-0"><%=user.job_title%></p>
    </div>
    <div class="pt-4 d-flex justify-content-center align-items-center">
      <p class="small "><%=user.email%></p> 
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <p class="small "><%=user.phone_number%></p>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="<%=user.id%>_make_admin_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%=user.name%> <%=user.id%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 class="d-flex m-3 justify-content-center align-items-center">Are you sure you want to make <%=user.name%> an admin?</h6>
        <div class="row">
          <div class="col mt-3 d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-primary" style="min-width: 200px">Yes</button>
          </div>
          <div class="col mt-3 d-flex justify-content-start align-items-center">
            <button type="button" class="btn btn-danger" style="min-width: 200px" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
        <%# <%= render "user_chats/form_new", user: user, users: users, user_chat: user_chat%> 
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="<%=user.id%>_remove_admin_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%=user.name%> <%=user.id%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 class="d-flex m-3 justify-content-center align-items-center">Are you sure you want to stop <%=user.name%> from being an admin?</h6>
        <div class="row">
          <div class="col mt-3 d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-primary" style="min-width: 200px">Yes</button>
          </div>
          <div class="col mt-3 d-flex justify-content-start align-items-center">
            <button type="button" class="btn btn-danger" style="min-width: 200px" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
        <%# <%= render "user_chats/form_new", user: user, users: users, user_chat: user_chat%> 
      </div>
    </div>
  </div>
</div>
