<section aria-labelledby="user-profile-heading">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-4 mt-5 d-flex justify-content-center">
        <img src="<%= @user_profile.profile_image %>" 
             alt="Profile picture of <%= @user_profile.name %>" 
             class="rounded-circle shadow-1-strong" 
             width="150" height="150">
      </div>
      <div class="col-8 m-5">
        <div class="text-center">
          <h1 id="user-profile-heading"><%= @user_profile.name %></h1>
        </div>
        <div class="text-center">
          <h2><%= @user_profile.job_title %></h2>
        </div>
        <div class="text-center pt-4">
          <h4>Email: <%= @user_profile.email %></h4>
        </div>
        <div class="text-center">
          <h4>Number: <%= @user_profile.phone_number %></h4>
        </div>
      </div>
    </div>
  </div>
</section>
