
<div class="dropdown show ml-auto p-2">
  <a class="nav-link dropdown-toggle  ml-auto p-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  </a>
  <div class="dropdown-menu">
    <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#<%=chat.id%>_members_Modal">
      Members
    </a>
    <% if chat.project.project_type == "private" && chat.members.exists?(@chat_bot) %>
    <% elsif chat.project.project_type == "public" || chat.project.project_type == "private" %>
      <% if current_user.admin? || chat.project.owner == current_user %> <!--owner and private then you can see -->
        <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#<%=chat.id%>_chat_edit_Modal">
          Edit Chat
        </a>
        <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#<%=chat.id%>_add_user_Modal">
          Add User
        </a>
      <% end %>
      <% remove_self = UserChat.find_by("user_id = ? AND chat_id = ?", current_user.id, chat.id) %>
      <%= link_to "Leave Chat", user_chat_path(remove_self), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "dropdown-item fw-medium" %>
    <% end %>
  </div>
</div>

<%= render "chats/modal_dropdown", chat: chat%>
