
<div class="dropdown show ml-auto p-2">
    <a class="nav-link dropdown-toggle  ml-auto p-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    </a>
    <div class="dropdown-menu">
      <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#<%=chat.id%>_members_Modal">
          Members
        </a>
      <%# TO DO: fix form_with(model: chat)%>
      <%# <%= link_to "Edit Chat", "/projects/#{chat.project_id}/chats/#{chat.id}/edit", class: "dropdown-item" %> 
      <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#<%=chat.id%>_edit_Modal">
          Edit Chat
        </a>
      <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#<%=chat.id%>_add_user_Modal">
        Add User
      </a>
      <%= link_to "Leave Chat", project_chat_path(chat.project, chat), method: :delete,  data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="<%=chat.id%>_info_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> <%=chat.name%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%=chat.description%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="<%=chat.id%>_members_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%=chat.name%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Member Count: <%=chat.members.count%> 
      </div>
      <div class="modal-body">
        Member List: 
      </div>
      <div class="ps-4">
        <% chat.members.each do |member|%>
          <% if member != current_user %>
            <div class="modal-body">
              <a href="/<%=member.id%>"><%=member.name%></a>
            </div>
          <%else%> 
            <div class="modal-body">
              <a href="/<%=member.id%>">Me</a>
            </div>
          <% end %>
        <%end%>
      </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="<%=chat.id%>_edit_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Chat</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%@chatn = params.fetch(:chat_id)%>
        <%= render "chats/form", chat: chat %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="<%=chat.id%>_add_user_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%=chat.name%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <% users = User.all%>
            <% user_chat_new = UserChat.new%> 
          <div class= "container ">
            <%= render "user_chats/form_new",  users: users, user_chat: user_chat_new, chat: chat%>
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
