
<div class="dropdown show ml-auto p-2">
    <a class="nav-link dropdown-toggle  ml-auto p-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    </a>
    <div class="dropdown-menu">
      <% if chat.project.project_type == "public"%>
        <div class="ps-3">
          <a type="button" data-bs-toggle="modal" data-bs-target="#<%=chat.id%>_info_Modal">
            Info
          </a>
        </div>
        <div class="ps-3">
        <a type="button" data-bs-toggle="modal" data-bs-target="#<%=chat.id%>_members_Modal">
            Members
          </a>
        </div>
      <% end %>
      <%= link_to "Edit Chat", "/chats/#{chat.id}/edit", class: "dropdown-item" %>
      <%= link_to "Add User", chats_path, class: "dropdown-item" %>
      <%= link_to "Delete Chat", chats_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
    </div>
</div>


<!-- Modals -->
<div class="modal fade" id="<%=chat.id%>_info_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> <%=chat.name%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%=chat.description%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="<%=chat.id%>_members_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%=chat.name%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Member Count: <%=chat.members.count%> 
      </div>
      <div class="modal-body">
        Member List: 
      </div>
      <div class="ps-4">
        <% chat.members.each do |member|%>
          <div class="modal-body">
            <%=member.name%> 
          </div>
        <%end%>
      </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
