
<div class="dropdown show ml-auto p-2">
  <a class="nav-link dropdown-toggle  ml-auto p-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  </a>
  <div class="dropdown-menu">
    <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#<%=chat.id%>_members_Modal">
      Members
    </a>
    <% if chat.project.project_type == "private" && chat.members.exists?(@chat_bot) %>
    <% elsif chat.project.project_type == "public" || chat.project.project_type == "private" %>
      <% if current_user.admin? || chat.project.owner == current_user %> <!--owner and private then you can see -->
        <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#<%=chat.id%>_chat_edit_Modal">
          Edit Chat
        </a>
        <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#<%=chat.id%>_add_user_Modal">
          Add User
        </a>
      <% end %>
      <% remove_self = UserChat.find_by("user_id = ? AND chat_id = ?", current_user.id, chat.id) %>
      <%= link_to "Leave Chat", user_chat_path(remove_self), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "dropdown-item fw-medium" %>
    <% end %>
  </div>
</div>

<!-- Modals -->
<!-- Members List -->
<div class="modal fade" id="<%=chat.id%>_members_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%=chat.name%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Member Count: <%=chat.members.count%> 
      </div>
      <div class="modal-body">
        Member List: 
      </div>
      <div class="px-4 pb-4">
        <div class="row card-deck">
          <% chat.members.each do |member|%>
            <% if member != current_user %>
            <!--TODO: move this to partial-->
              <div class="card col-md-6 p-2">
                <div class="col d-flex justify-content-center align-items-center p-2">
                    <img src="<%=member.profile_image%>" alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                    <a><%=member.name%></a> 
                </div>
                <div class="col">
                  <a href="/<%=member.id%>" class="col btn btn-secondary d-flex justify-content-center align-items-center" type= "button">Profile</a> 
                </div>
                <div class="col">
                 <%= button_to 'Privately Message', create_private_chat_path(@direct_message_project, member.id), id: 'send-message-button', 
                  data: { user_id: member.id, project_id: @direct_message_project}, 
                  method: :post, 
                  class: 'btn btn-primary d-flex justify-content-center align-items-center' %> 
                </div>
                <%if !chat.members.exists?(@chat_bot)%>
                  <div class="col btn btn-danger d-flex justify-content-center align-items-center" type= "button">
                    <% remove_user = UserChat.find_by("user_id = ? AND chat_id = ?", member.id, chat.id) %>
                    <%= link_to "Remove User", user_chat_path(remove_user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "dropdown-item fw-medium" %> 
                  </div>
                <%end%> 
              </div>
            <%else%> 
              <div class="card col-md-6 p-2">
                <div class="col d-flex justify-content-center align-items-center p-2">
                  <img src="<%=member.profile_image%>" alt="avatar" class="rounded-circle d-flex me-3 shadow-1-strong" width="60">
                  <a href="/<%=member.id%>">Me</a>
                </div>
              </div>
            <% end %>
          <%end%>
        </div>
        
      </div> 

      <% if chat.project.project_type == "private" && chat.members.exists?(@chat_bot) %>
      <% else %>
        <div class="col mx-2">
          <a type="button" class="btn btn-primary d-flex justify-content-center align-items-center mb-4" data-bs-toggle="modal" data-bs-target="#<%=chat.id%>_add_user_Modal">
            Add User
          </a> 
        </div>
      <% end %>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Chat -->
<div class="modal fade" id="<%=chat.id%>_chat_edit_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Chat</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "chats/form", chat: chat %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Add User -->
<div class="modal fade" id="<%=chat.id%>_add_user_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%=chat.name%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class= "container ">
            <%= render "user_chats/form_new",  users: User.all, user_chat: UserChat.new, chat: chat%>
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
