<%= form_with(model: [@project, chat], local: true) do |form| %>
  <div class="col">
    <div class=" mb-4">
        <div class="card-body">
          </form>
            <div class="row gx-3 mb-3">
              <div class="md-6"> 
                <div>
                  <%= form.label :name, style: "display: block", class:"small mb-1"%>
                  <%= form.text_field :name, class: "form-control"%>
                </div>
              </div>
            </div>
            
              <%= form.hidden_field :description, value: "nil" %>
              
              <div class="row gx-3 mb-3">
                <div class="mb-3"> 
              </div>
            <%= form.submit "Create Chat", class:"btn btn-primary" %>
          </form>
        </div>
      </div>
    </div>
  </div> 
<% end %>
