<div class="dropdown show ml-auto p-2">
    <a class="nav-link dropdown-toggle  ml-auto p-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    </a>
    <div class="dropdown-menu">
      
      <%= link_to "Edit Project", "/projects/#{project.id}/edit", class: "dropdown-item" %>
      <%# <%= link_to "Add User", "/all_users", class: "dropdown-item" %> 
     <%= link_to "Delete Poject", "/chat/#{current_user.projects.first.id}/#{current_user.projects.first.chats.first.id}", data: { turbo_method: :delete },  data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
    </div>
</div>


<!-- Modals -->
<div class="modal fade" id="<%=project.id%>_info_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> <%=project.name%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%=project.description%>
      </div>
      <div class="modal-body">
        Location: <%=project.location%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
