
<div class="dropdown show ml-auto p-2">
    <a class="nav-link dropdown-toggle  ml-auto p-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    </a>
    <div class="dropdown-menu">
      <% if project.project_type == "public"%>
        <%= link_to "Info", "/projects/#{project.id}", class: "dropdown-item" %>
      <% end %>
      <%= link_to "Members", projects_path, class: "dropdown-item" %>
      <%= link_to "Edit Project", "/projects/#{project.id}/edit", class: "dropdown-item" %>
      <%= link_to "Add User", projects_path, class: "dropdown-item" %>
      <%= link_to "Delete Project", projects_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
    </div>
</div>
