<div id="<%= dom_id project %>">
  <p>
    <strong>Owner:</strong>
    <%= project.owner_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= project.location %>
  </p>

  <p>
    <strong>Member count:</strong>
    <%= project.member_count %>
  </p>

  <p>
    <strong>Project type:</strong>
    <%= project.project_type %>
  </p>

</div>
