<% if project.project_type == "private" && project.owner == current_user || project.project_type == "public" %>
    <%# <% if projects_displayed.include?()%> 
    <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
      <a href= "/chat/<%=project.id%>/<%=project.chats.first.id%>" class="d-flex justify-content-between link-dark text-decoration-none">
        <div class="d-flex fjustify-content-start align-items-center">
          <img src="https://api.dicebear.com/9.x/icons/svg?seed=Casper&backgroundColor=D2042D" alt="avatar"
            class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60"> 
          <div class="col pt-1 ">
            <div class="row">
              <p class="fw-bold mb-0"><%=project.name%></p>
            </div>
            <div class="row">
              <% if project.status != "nil" %>
                <% if project.status == "Open" %>
                  <p class="fw-bold mb-0 text-primary"><%=project.status%></p>  
                <% elsif project.status == "In Progress"%>  
                  <p class="fw-bold mb-0 text-warning"><%=project.status%></p> 
                <% elsif project.status == "Closed"%>  
                  <p class="fw-bold mb-0 text-danger"><%=project.status%></p> 
                <% end %> 
              <% end %>
            </div>
          </div>
          <% if project.project_type == "public"%>
            <div class="col">
              <div class="d-flex d-flex justify-content-center">
                <a type="button" data-bs-toggle="modal" data-bs-target="#<%=project.id%>_info_Modal">
                  <i class="fa-solid fa-circle-info"></i>
                </a>
              </div>
              <div class="d-flex">
                <%= render "projects/dropdown_button", project: project%>
              </div>
            </div>
          <% end %>  
        </div>
      </a>
    </li>
    <hr>
<% end %>


<!-- Modals -->
<div class="modal fade" id="<%=project.id%>_info_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> <%=project.name%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%=project.description%>
      </div>
      <div class="modal-body">
        Location: 
        <a href= "https://www.google.com/maps/search/<%=project.location%>"><%=project.location%></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
