<p style="color: green"><%= notice %></p>

<%= render @user_chat %>

<div>
  <%= link_to "Edit this user chat", edit_user_chat_path(@user_chat) %> |
  <%= link_to "Back to user chats", user_chats_path %>

  <%= button_to "Destroy this user chat", @user_chat, method: :delete %>
</div>
